<div class="bg">
  <div class="boxed">
  <h1 >Rūķi ir kļuvuši par amatieru hakeriem, un izveidoja tev šo kalendāru. Seko norādēm</h1>
  </div>
    <div class="boxed-2">
  <h2> <%= Time.now.to_formatted_s(:short) %> </h2>
  </div>
    <div class="card" style="margin-left:auto; margin-right:auto; max-width:70%;
      margin-top: 70px; border-radius:9px;">
      <div class="card-image" style="margin-top:0px;">
        <%# <div class="container" style="margin-top:10px;"> %>
        <figure class="image is-4by3" style="margin-top:0px;">
          <img style="margin-top:0px; border-radius:9px;" src="https://media.tenor.com/mThw7vamL1kAAAAM/christmas-tree.gif" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <p><%= @object.description %></p>
          <br>
      </div>
    </div>
  </div>
</div>