/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";

 p.hello {
  color: red;
 }

.boxed {
  border: 3px solid green ;
  background-color: blue;
  display: flex;
  justify-content: center;
  max-height: 30%;
  border-radius: 10px;
}

.boxed-2 {
  border: 5px solid red;
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  max-height: 20%;
  border-radius: 10px;
  margin-top: 70px;
}

 body, html {
  height: 100%;
  margin: 0;
}

h1 { 
  font-family: "BhuTuka Expanded One";
  color: yellow; 
  font-weight: bold;
  text-align: center;
  text-shadow: black 0px 0px 10px;
  max-height: 20%;
  max-width: 90%;
  font-size: 25px;
}


h2 { 
  font-family: "BhuTuka Expanded One";
  color: red; 
  font-weight: bold;
  text-align: center;
  text-shadow: black 0px 0px 10px;
  font-size: 30px;
}

//  html, body {
//   background-image: url('https://png.pngtree.com/background/20210715/original/pngtree-merry-christmas-wood-plank-texture-background-picture-image_1266178.jpg');
// }

.bg {
  background-image: url('https://png.pngtree.com/background/20210715/original/pngtree-merry-christmas-wood-plank-texture-background-picture-image_1266178.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: repeat;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  display:flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

 
